{% extends 'travel_wishlist/base.html' %}
{% block content %}

<h2>Travel Wishlist</h2>

<form method="POST" action="{% url 'place_list' %}">
	<!--
		Adding to database when user clicks add button.
	-->
	{% csrf_token %}
	{{ new_place_form }}
	<button id="add-new-place" type="submit">Add</button>
</form>

{% for place in places %}
	<!--
		Showing non-visited places
	-->
	<div class="wishlist-place">
		<span id="place-name-{{ place.pk }}" class="place-name">{{ place.name }}</span>

		<form class="visted-form" method="POST" action="{% url 'place_was_visited' place.pk %}">
			<!--
				Showing visited button to move selection to other page.
			-->
			{% csrf_token %}
			<button id="visited-button-{{ place.pk }}" type="submit">Visited!</button>
		</form>
	</div>

{% empty %}
<!--
	or showing this.
-->
<p>You have no places in your wishlist</p>

{% endfor %}

{% endblock %}
